 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List users</title>
</head>
<body>
    <table>
        <tr>
            <td>Label</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>User</td>
            <td>Delete</td>
<td>Details</td>
        </tr>
        {% for user in products %}
        <tr>
            <td> {{ user.label }} </td>
            <td> {{ user.quantity }} </td>
            <td> {{ user.price }} </td>
            <td> {{ user.user }} </td>
            <td> <a href="/users/{{ user._id }}"> details </a> </td>
            <td> <a href="/users/delete/{{ user._id }}"> delete </a> </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>